.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.419);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3de;
  border-radius: 8px;
  padding: 20px;
}

.modalContent {
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
