.formContainer {
  margin-top: 25px;
  width: 450px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px #999;
}

.formField {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  margin-left: 18px;
  display: flex;
}

.inputField {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px #999;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px #999;
}
